extends layout.pug

include ../mixins/pagination.pug
include ../_includes/packages.pug

block content
  div.card
    +packages(dependencies)

    if pages > 1
      div.card-footer.d-flex.justify-content-center
        +pagination(pages, page)
