extends layout.pug

include ../mixins/pagination.pug
include ../_includes/packages.pug

block results
  style.
    .avatar-container {
      position: relative
    }

    .avatar-initials {
      filter: brightness(65%);
      background-color: transparent;
    }

    .avatar-picture {
      position: absolute;
    }

  div.card
    div.card-header
      h4.card-title #[= total] Packages Found

    div.table-responsive
      +packages(packages, true)

    if pages > 1
      div.card-footer.d-flex.justify-content-center
        +pagination(pages, page, `?q=${search}&`)
